---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "";
---

<Section id="FAQs">
  <div class="mt-[140px] pb-12">
    <SectionTitle sectionTitle="FAQs" description={description} />
    <Accordion />
  </div>
</Section>
