---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/hero-yellow.svg";

// Modified Utility Classes for adapting the layout to the hidden sponsors section
// switch the value of isSponsors to true if you want to display the sponsors section
const isSponsors = false;
const falseSponsorsClasses = isSponsors
  ? "md:pb-20 md:pt-10"
  : "md:pb-10 md:pt-20";
---

<Section id="about">
  <div
    class="relative flex flex-col-reverse items-center md:flex-row"
    id="hero"
  >
    <div class=`row items-center py-5 md:w-6/12  ${falseSponsorsClasses}`>
      <div class="text-left space-y-3">
        <h1 class="text-4xl font-medium leading-none md:text-6xl text-left">
          Inspiring <br /> Innovation <br /> & Beherrschung der Technik
        </h1>
        <p
          class="mt-6 mb-8 text-lg font-normal leading-7 sm:mb-12 text-left md:pr-12"
        >
          We are a passionate group of students from <a
            href="https://gju.edu.jo"
            class="class-link hover:class-link-hover">GJU</a
          > dedicated to exploring the world of technology. Our mission is to foster
          innovation, collaboration, and learning in fields like cybersecurity, programming,
          artificial intelligence, and more.
        </p>
        <div class="w-full justify-start items-center inline-flex pt-1 md:pt-0">
          <a
            href="#join-us"
            target="_blank"
            class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black transition-all duration-200 hover:transform hover:scale-105 border text-xl font-normal leading-7"
            >Join our Mission!
          </a>
        </div>
      </div>
    </div>
    <div class=`flex items-center py-5 md:w-6/12  ${falseSponsorsClasses}`>
      <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
    </div>
  </div>
</Section>
