---
import { getCollection } from "astro:content";

import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
import { RoadmapComponent } from "../ui/xyflow/FlowEditor";
import { App } from "../ui/xyflow/flowapp";

const description = "Step-by-Step Guide to complete our first Bootcamp";

const roadmapEntries = await getCollection("roadmap");
const contentMap = Object.fromEntries(
  roadmapEntries.map((entry) => [entry.data.nodeId, entry])
);

// console.log(contentMap);
---

<Section id="roadmap">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Roadmap"
      description={description}
      isDescription={false}
    />
    <div class="border border-dark rounded-2xl">
      <!-- <App client:load /> -->
      <RoadmapComponent client:load />
    </div>
  </div>
</Section>
