---
import SectionTitle from "@/components/ui/SectionTitle.astro";
import Section from "../Section.astro";

const description = "Certificates Instructions to complete the bootcamp";
---

<Section id="certs">
  <div class="mt-[64px]">
    <SectionTitle
      sectionTitle="Certificates"
      description={description}
      isDescription={false}
      titleClass="mb-8"
    />
    <div class="">
      <div class="h-4"></div>
      <span class="font-bold text-xl">Certificate of Participation</span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L0</span>
        <li class="text-lg ml-5">
          Watch the cert. instructions on onedrive (link on discord)
        </li>

        <li class="text-lg ml-5">
          Submit your first pull request this <a
            href="https://github.com/GJU-IT-Club/git-certificate"
            class="class-link hover:class-link-hover">Repo</a
          > following the instructions (due ~ 15.feb)
        </li>
      </ul>

      <div class="h-4"></div>
      <span class="font-bold text-xl">Certificate of Completion</span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L1 A</span>
        <li class="text-lg ml-5">
          Read the cert.
          <a
            class="class-link hover:class-link-hover"
            href="https://github.com/GJU-IT-Club/l1A-example-submission#-submission-rules"
            >instructions</a
          >
        </li>

        <li class="text-lg ml-5">
          Submit your Website link to the <code>#bootcamp-general</code> OR <code
            >#l1a-frontend-discussion</code
          > OR as a DM in Discord following the instructions
        </li>
        <li class="text-lg ml-5">due ~ 28.feb</li>
        <li class="text-lg ml-5">
          <a
            href="https://github.com/GJU-IT-Club/l1A-example-submission"
            class="class-link hover:class-link-hover">Example Submission</a
          >
        </li>
      </ul>

      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L1 B</span>
        <li class="text-lg ml-5">
          Read the cert.
          <a
            class="class-link hover:class-link-hover"
            href="https://github.com/GJU-IT-Club/l1B-submission-example#-rules--instructions"
            >instructions</a
          >
        </li>

        <li class="text-lg ml-5">
          Submit your App repo link to the <code>#bootcamp-general</code> OR <code
            >#l1b-mobile-discussion</code
          > OR as a DM in Discord following the instructions
        </li>
        <li class="text-lg ml-5">due ~ 28.feb</li>
        <li class="text-lg ml-5">
          <a
            href="https://github.com/GJU-IT-Club/l1B-submission-example"
            class="class-link hover:class-link-hover">Example Submission</a
          >
        </li>
      </ul>
    </div>
  </div>
</Section>
