---
import SectionTitle from "@/components/ui/SectionTitle.astro";
import Section from "../Section.astro";

const description = "Todo List to complete the bootcamp";
---

<Section id="todos">
  <div class="mt-[64px]">
    <SectionTitle
      sectionTitle="TodoList (updated daily)"
      description={description}
      isDescription={false}
      titleClass="mb-8"
    />
    <div class="">
      <span class="font-bold text-xl">Day 0 </span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L0</span>
        <li class="text-lg ml-5">
          Install <a
            href="https://code.visualstudio.com/"
            class="class-link hover:class-link-hover">VScode</a
          >
        </li>
        <li class="text-lg ml-5">
          Install <a
            href="https://git-scm.com/"
            class="class-link hover:class-link-hover">Git</a
          >: (Check if its Already installed (youtube), if u're stuck in the
          installation process, it's usually the default option, or ask for
          help)
        </li>
        <li class="text-lg ml-5">
          Create an Account on <a
            href="https://github.com/"
            class="class-link ho ver:class-link-hover"
            >GitHub
          </a>(no need for anything else)
        </li>
      </ul>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 1 </span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L0</span>
        <li class="text-lg ml-5">Revise Today Material</li>
      </ul>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 2 </span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L0</span>
        <li class="text-lg ml-5">Do this Interactive Tutorial:</li>
        <li class="text-lg ml-10">Markdown Interactive Tutorial</li>
        <li class="text-lg ml-5">Use this site to try markdown</li>
      </ul>
    </div>
  </div>
</Section>
