---
import Roadmap from "@/components/sections/Roadmap.astro";
import FAQs from "../../components/sections/FAQs.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import BootCamp from "../../components/sections/BootCamp.astro";
---

<!-- <div id="app"></div> -->
<MainLayout
  title="Das Bootcamp"
  description="Our first Bootcamp for GJU Students, be prepared for this journey of hands-on learning, and unique assignments in this learn-by-doing event."
>
  <BootCamp />
  <Roadmap />
  <FAQs />
</MainLayout>
