---
import Roadmap from "@/components/sections/Roadmap.astro";
import FAQs from "../../components/sections/FAQs.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import BootCamp from "../../components/sections/BootCamp.astro";
---

<!-- <div id="app"></div> -->
<MainLayout
  title="Test Roadmap"
  description="A club that aims to provide students with the opportunity to develop their technical and soft skills through workshops, competitions, and events."
>
  <BootCamp />
  <Roadmap />
  <FAQs />
</MainLayout>
